[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Icon=/home/user/.icons/macOS/terminal.png
TryExec=pantheon-terminal
Exec=pantheon-terminal -w %u
NoDisplay=true
Categories=X-GNOME-Other;
MimeType=inode/directory;
StartupNotify=true
Terminal=false
